$b-color: #F8F8F8;
$font: 'TT Lakes';
.article__text-basic {
    display: block;
    word-break: break-all;
    width: 300px;
    padding: 13px;
    font-size: 16px;
    line-height: 18px;
    margin: 16px 8px;
}

.article__text__button {
    margin-left: 48px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: $font;
    font-weight: 900;
    background-color: $b-color;
    cursor: pointer;
}

.text__img {
    margin-top: 16px;
    margin-bottom: 30px;
    width: 100%;
    height: 176px;
}

.article__text__button__svg {
    margin-left: -24px;
    margin-right: 16px;
}

@media (min-width: 768px) {
    .article__text-basic:nth-of-type(2) {
        display: block;
    }
    .text {
        display: flex;
    }
    .text__img__photo {
        width: 360px;
        border-radius: 6px;
        margin-left: 48px;
        margin-top: 14px;
    }
}

@media (min-width: 1440px) {
    .article__text {
        flex-basis: 50%;
    }
    .article__text-basic {
        display: block;
        word-break: break-all;
        padding: 13px;
        font-size: 16px;
        font-size: 16px;
        line-height: 18px;
        width: 490px;
    }
    .text__img {
        margin-top: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text__img__photo {
        width: 531px;
        border-radius: 6px;
        margin-left: 36px;
        margin-top: -23px;
    }
    .article__text__button {
        margin-left: 48px;
        border: none;
        font-size: 16px;
        line-height: 24px;
        font-family: $font;
        font-weight: 900;
    }
}