$bl:#41f6d7;
$grey:#7E7E82;
$bll: #b8ffec;
main {
    display: block;
    font-family: 'Heebo', sans-serif;
}

.header__services {
    position: relative;
    height: 40px;
    margin: 24px 0;
    padding: 0 16px;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -.6px;
    font-size: 28px;
}

.header__services {
    &::before {
        content: "";
        position: absolute;
        left: -2px;
        top: 0;
        height: 40px;
        width: 4px;
        background-color: $bl;
        border-radius: 2px;
    }
}

.header__nav {
    overflow: scroll;
}

.header__nav {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.nav {
    white-space: nowrap;
}

.nav__menu {
    display: flex;
    flex-basis: 100%;
    padding-left: 32px;
}

.nav__li {
    list-style-type: none;
    padding: 8px 16px;
    color: background $grey;
}

.nav__li-border {
    border: 2px solid $bll;
    border-radius: 6px;
    margin-left: -16px;
    background: #FFFFFF;
}

.nav__menu__li__link {
    text-decoration: none;
    color: $grey;
}

#tex {
    display: none;
}

@media (min-width: 768px) {}

@media (min-width: 1440px) {
    .nav__menu {
        display: flex;
        flex-basis: 100%;
        padding-left: 32px;
        flex-wrap: wrap;
    }
    .nav__li {
        list-style-type: none;
        padding: 8px 16px;
        margin-left: -15px;
        margin-right: 32px;
    }
    .header__nav {
        width: 1120px;
    }
}