$grey:#7E7E82;
$wl: #D9FFF5;
$bac: #FFFFFF;
$pinks: #ff3e79;
$bla: #1B1C21;
$w-b: #41F6D7;
.footer {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $grey;
    mix-blend-mode: normal;
    opacity: 0.72;
    margin-top: 57px;
    margin-left: 4px;
    margin-right: 4px;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $wl;
        margin-bottom: 32px;
        margin-top: 50px;
    }
}

.footer__data {
    margin: 0px;
}

.footer__development {
    margin: 0px;
}

.footer__block-info {
    padding: 0px 20px;
}

#text {
    display: none;
}

#logo {
    display: flex;
}

#log {
    display: flex;
}

#logi {
    display: flex;
}

.contener__aside {
    display: none;
}

.prices-sizes {
    display: none;
}

// .contener__aside.active {
//     display: block;
//     box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
// }
// .contener__aside {
//     width: 320px;
//     min-height: 100vh;
//     top: 0;
//     position: absolute;
//     margin-left: -8px;
//     margin-top: 0px;
//     z-index: 1;
//     background: $bac;
// }
// .aside__header {
//     display: flex;
// }
// .aside__header__button-blok {
//     margin: 24px 16px 45px 24px;
// }
// .aside__header__button-blok-right {
//     margin-top: 24px;
//     margin-left: 78px;
// }
// .aside__header__button {
//     height: 40px;
//     width: 40px;
//     border-radius: 50%;
//     border: none;
//     fill: $bac;
//     cursor: pointer;
// }
// .button-cross {
//     background: $pinks url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
// }
// .button-loupe {
//     background: $pinks url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5006 11.0006H11.7106L11.4306 10.7306C12.6306 9.33063 13.2506 7.42063 12.9106 5.39063C12.4406 2.61063 10.1206 0.390626 7.32063 0.0506256C3.09063 -0.469374 -0.469374 3.09063 0.0506256 7.32063C0.390626 10.1206 2.61063 12.4406 5.39063 12.9106C7.42063 13.2506 9.33063 12.6306 10.7306 11.4306L11.0006 11.7106V12.5006L15.2606 16.7506C15.6706 17.1606 16.3306 17.1606 16.7406 16.7506L16.7506 16.7406C17.1606 16.3306 17.1606 15.6706 16.7506 15.2606L12.5006 11.0006ZM6.50063 11.0006C4.01063 11.0006 2.00063 8.99063 2.00063 6.50063C2.00063 4.01063 4.01063 2.00063 6.50063 2.00063C8.99063 2.00063 11.0006 4.01063 11.0006 6.50063C11.0006 8.99063 8.99063 11.0006 6.50063 11.0006Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
// }
// .button-loupe:hover {
//     filter: grayscale(0.2);
// }
// .button-cross:hover {
//     filter: invert(0.2);
// }
// .aside__header__logo {
//     margin-top: 18px;
// }
// .nav__menu-aside {
//     padding: 0;
//     margin: 0;
//     position: relative;
// }
// .nav__menu__li-aside {
//     margin-bottom: 32px;
//     margin-left: 24px;
//     list-style-type: none;
// }
// .nav__menu__link-aside {
//     text-decoration: none;
//     font-family: "TT Lakes";
//     font-size: 16px;
//     line-height: 24px;
//     letter-spacing: -0.2px;
//     color: $bla;
//     font-weight: 700;
// }
// // .nav__menu__li-aside {
// //     &:nth-child(2) a {
// //         color: $grey;
// //     }
// //     &:nth-child(2) a::before {
// //         content: "";
// //         position: absolute;
// //         left: 0.52%;
// //         right: 96%;
// //         top: -0.67%;
// //         bottom: 92.2%;
// //         background: $w-b;
// //         transform: matrix(-1, 0, 0, 1, 0, 0);
// //     }
// // }
// .aside__footer__icon {
//     display: flex;
// }
// .aside__footer__icon-block {
//     margin-left: 16px;
//     margin-bottom: 16px;
// }
// .aside__footer__button-phone {
//     height: 40px;
//     width: 40px;
//     border-radius: 50%;
//     border: none;
//     fill: $bac;
//     cursor: pointer;
//     background: $pinks url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76019 12.25L4.30019 11.96C4.91019 11.89 5.51019 12.1 5.94019 12.53L7.78019 14.37C10.6102 12.93 12.9302 10.62 14.3702 7.78L12.5202 5.93C12.0902 5.5 11.8802 4.9 11.9502 4.29L12.2402 1.77C12.3602 0.76 13.2102 0 14.2302 0H15.9602C17.0902 0 18.0302 0.94 17.9602 2.07C17.4302 10.61 10.6002 17.43 2.07019 17.96C0.940193 18.03 0.00019455 17.09 0.00019455 15.96V14.23C-0.00980568 13.22 0.750193 12.37 1.76019 12.25Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
// }
// .aside__footer__button-phone:hover {
//     filter: contrast(70%);
// }
// .aside__footer__button-message {
//     height: 40px;
//     width: 40px;
//     border-radius: 50%;
//     border: none;
//     fill: $bac;
//     cursor: pointer;
//     margin-left: 16px;
//     margin-right: 16px;
//     background: $pinks url("data:image/svg+xml, %3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 0H2C0.9 0 0.01 0.9 0.01 2L0 20L4 15H18C19.1 15 20 14.1 20 13V2C20 0.9 19.1 0 18 0ZM11 11H5C4.45 11 4 10.55 4 10C4 9.45 4.45 9 5 9H11C11.55 9 12 9.45 12 10C12 10.55 11.55 11 11 11ZM15 6H5C4.45 6 4 5.55 4 5C4 4.45 4.45 4 5 4H15C15.55 4 16 4.45 16 5C16 5.55 15.55 6 15 6Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
// }
// .aside__footer__button-message:hover {
//     filter: contrast(70%);
// }
// .aside__footer__button-user {
//     height: 40px;
//     width: 40px;
//     border-radius: 50%;
//     border: none;
//     background: $pinks url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z' fill='white'/%3E%3Cpath d='M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
//     fill: $bac;
//     cursor: pointer;
//     &:hover {
//         filter: contrast(70%);
//     }
// }
// .aside__footer {
//     margin-top: 233px;
// }
// .aside__footer__contact-mail {
//     height: 24px;
//     left: 3.12%;
//     right: 83.07%;
//     font-family: "TT Lakes";
//     font-size: 16px;
//     line-height: 24px;
//     letter-spacing: -0.2px;
//     color: $bla;
//     margin-left: 17px;
//     font-weight: 700;
//     text-decoration: none;
// }
// .aside__footer-tel {
//     margin-top: 12px;
//     margin-left: 16px;
// }
// .aside__footer__contact-tel {
//     height: 32px;
//     left: 3.12%;
//     right: 71.35%;
//     font-family: "TT Lakes";
//     font-size: 24px;
//     line-height: 32px;
//     letter-spacing: -0.6px;
//     color: $bla;
//     font-weight: 700;
//     text-decoration: none;
// }
// .aside__footer_contact-language {
//     display: flex;
//     margin-top: 40px;
// }
// .aside__footer_contact-language__ru {
//     margin-left: 13px;
//     font-weight: 700;
//     color: $grey;
//     text-decoration: none;
// }
// .aside__footer_contact-language__en {
//     margin-left: 7px;
//     font-weight: 700;
//     text-decoration: none;
//     color: $bla;
// }
// .aside__footer_contact-language__cn {
//     margin-left: 7px;
//     font-weight: 700;
//     text-decoration: none;
//     color: $bla;
// }
// @media (max-height:800px) {
//     .aside__footer {
//         margin-top: 0px;
//     }
// }
// @media (max-width:340px) {
//     .aside__footer {
//         margin-top: 0px;
//     }
//     .contener__aside {
//         width: 320px;
//         top: 0;
//         position: absolute;
//         margin-left: -8px;
//         margin-top: 0px;
//         z-index: 1;
//         background: $bac;
//         height: 764px;
//         min-height: 0vh;
//     }
// }
@media (min-width: 768px) {
    .footer__block-development {
        margin-left: 32px;
    }
    .footer__block-confidentiality {
        margin-top: -40px;
        margin-left: 277px;
    }
    .footer__block-development {
        margin-left: 31px;
    }
    .footer {
        font-family: "TT Lakes";
        font-size: 14px;
        line-height: 16px;
        text-align: start;
        color: $grey;
        mix-blend-mode: normal;
        opacity: 0.72;
        margin-top: 57px;
        margin-left: 4px;
        margin-right: 4px;
        display: flex;
        flex-direction: column;
    }
    .footer__block-info {
        padding: 0px 20px;
        text-align: end;
        width: 213px;
        margin-left: 470px;
        margin-top: -43px;
    }
}

@media (min-width: 1440px) {
    .footer__block-info {
        padding: 0px 20px;
        text-align: end;
        width: 330px;
        margin-left: 753px;
        margin-top: -43px;
    }
    .footer {
        font-family: "TT Lakes";
        font-size: 14px;
        line-height: 16px;
        text-align: start;
        color: $grey;
        mix-blend-mode: normal;
        opacity: 0.72;
        margin-top: 57px;
        margin-right: 4px;
        display: flex;
        flex-direction: column;
        margin-left: 266px;
    }
    .aside__header__button-blok {
        display: none;
    }
    .footer__block-confidentiality {
        margin-left: 26rem;
    }
}