$grey:#7E7E82;
$wl: #D9FFF5;
$bac: #FFFFFF;
$pinks: #ff3e79;
$bla: #1B1C21;
$w-b: #41F6D7;
$ver: #EAEAEA;
$hen: #B5B6BC;
.modal-tel {
    background: $bac;
    width: 320px;
    height: 676px;
    position: absolute;
    top: 0;
    margin-left: 312px;
    font-family: 'Heebo', sans-serif;
}

.modal-tel__cross {
    margin-top: 24px;
    margin-left: 16px;
}

.modal-tel__cross-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    fill: $bac;
    cursor: pointer;
    background: $pinks url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
    margin-top: 24px;
}

.modal-tel__heading-h1 {
    position: relative;
    margin-left: 12px;
    font-family: "TT Lakes";
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: $bla;
    margin-top: 40px;
    margin-left: 16px;
}

.modal-tel__heading-h1::before {
    content: "";
    position: absolute;
    left: -16px;
    top: -6px;
    height: 40px;
    width: 4px;
    background-color: $w-b;
}

.modal-tel__form-block {
    margin-top: 29px;
}

.modal-tel__form-tel {
    background: $bac;
    border: 1px solid $ver;
    border-radius: 8px;
    width: 288px;
    height: 48px;
    margin-left: 14px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $hen;
    padding-left: 16px;
    margin-bottom: 16px;
}

.modal-tel__footer {
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 16px;
    color: $grey;
    width: 288;
    width: 288px;
    height: 64px;
    margin-left: 16px;
    position: relative;
}

.modal-tel__link {
    color: $pinks;
    text-decoration: none;
}

.modal-tel__button-send {
    border-radius: 16px;
    padding: 10px 34px 10px 12px;
    border: none;
    position: absolute;
    margin-top: 23px;
    margin-left: 168px;
    background: $pinks url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8 4.99994L0.791554 2.229C0.3641 1.83529 0.361125 1.16138 0.785088 0.763917L0.920293 0.637162C1.30321 0.278177 1.89851 0.276333 2.28364 0.632939L6.93812 4.94264C6.9715 4.97355 6.9715 5.02633 6.93812 5.05723L2.34674 9.30851C1.92606 9.69803 1.27582 9.69601 0.857554 9.30389C0.394457 8.86974 0.397706 8.13363 0.864616 7.70358L3.8 4.99994Z' fill='white'/%3E%3C/svg%3E%0A") 87% 50% no-repeat;
    color: $bac;
}

.modal-tel {
    display: none;
}

.modal-tel.active {
    display: block;
}

@media (min-width: 768px) {
    .modal-tel {
        background: $bac;
        width: 473px;
        height: 940px;
        top: 86px;
        position: absolute;
        margin-left: 476px;
    }
    .modal-tel__cross {
        margin-left: 4px;
        margin-top: -10px;
    }
    .modal-tel__cross-button {
        margin-top: 31px;
    }
    .modal-tel__heading {
        margin-left: 65px;
        margin-top: -74px;
    }
    .modal-tel__form-tel {
        width: 376px;
        margin-left: 65px;
    }
    .modal-tel__footer-text {
        width: 376px;
        margin-left: 65px;
    }
    .modal-tel__button-send {
        margin-left: 291px;
    }
    .modal-tel {
        display: none;
    }
    .modal-tel.active {
        display: block;
    }
}

@media (min-width: 1440px) {
    .modal-tel {
        background: $bac;
        width: 473px;
        height: 940px;
        top: 1px;
        position: absolute;
        margin-left: 259px;
    }
}