        $grey:#7E7E82;
        $wl: #D9FFF5;
        $bac: #FFFFFF;
        $pinks: #ff3e79;
        $bla: #1B1C21;
        $w-b: #41F6D7;
        $ver: #EAEAEA;
        $hen: #B5B6BC;
        $irt: #41f6d7;
        $two: #F8F8F8;
        .warning {
            position: relative;
        }
        
        .warning__link {
            font-family: 'Heebo', sans-serif;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $bla;
            text-decoration: none;
            position: relative;
        }
        
        .warning__p {
            font-family: 'Heebo', sans-serif;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: $bla;
        }
        
        .warning__button {
            background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.1625 9.60411C0.838186 9.97957 0.838186 10.536 1.1625 10.9115L1.29432 11.0641C1.69317 11.5258 2.40899 11.5258 2.80785 11.0641L6.8372 6.39937C7.16152 6.02392 7.16152 5.46745 6.8372 5.092L2.80785 0.427277C2.40899 -0.0344715 1.69317 -0.0344715 1.29432 0.427278L1.1625 0.57988C0.838185 0.955333 0.838186 1.5118 1.1625 1.88726L4.49539 5.74569L1.1625 9.60411Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A") 95% 50% no-repeat;
            padding: 6px 6px;
            margin-left: 8px;
            margin-top: 8px;
            position: absolute;
            border: none;
        }
        
        @media (min-width: 768px) {
            .warning__p {
                font-family: 'Heebo', sans-serif;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $bla;
                width: 421px;
                margin: 32px 25px 12px 18px;
            }
            .warning__link {
                margin-left: 18px;
            }
        }
        
        @media (min-width: 1440px) {
            .warning {
                position: relative;
                margin-left: 266px;
            }
            .warning__p {
                font-family: 'Heebo', sans-serif;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $bla;
                width: 421px;
                margin: 32px 25px 12px 25px;
            }
        }